* {
  margin: 0;
  padding: 0;
  border: 0;
  }

  header {
    background-color:rgb(235, 174, 241);
    padding: 40px;
    border-bottom: solid 5px blueviolet
  }

  p { 
    text-indent: 30px;
  }

  body {
    background-color: #DFDBE5;
  }

  img {
      float:left;
  }


  h1 {
   color: rgb(53, 15, 133);
  }

  h2 {
    color:blueviolet;
  }

  p {
    color: rgb(53, 15, 133);
  }

  body {
    background-image: url("grayscalebackground.jpg");
  }
 
  header> nav {
  float: right;
  }

  aside {
  background-color:white;
  width: 15.5%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin-left: 25px;
  }